{% extends 'base.html' %}

{% block active_about %}
    active
{% endblock %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6 text-center">
            <h1 class="display-3">About</h1>
            <p>
                Open source implementation of Ekaterina Loginova's work at the DFKI on visualization of Keras Question Answering
                systems.
            </p>
        </div>
        <div class="col">
        </div>
    </div>
{% endblock %}