{% extends 'base.html' %}

{% block title %}
    Individual Neurons
{% endblock %}

{% block script %}
    <link href="{{ url_for('static', filename = 'neuron.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename = 'plotly-latest.min.js') }}"></script>
    <script type="text/javascript">
        // plot.ly doesn't support duplicate axis labels currently, but we need them to make charts more legible.
        // https://github.com/plotly/plotly.js/issues/1516
        // ticktext/tickvals method didn't work when I tried, so this method is used to create fake unique words.
        // A side effect of this is that hover text now needs to be stripped of this whitespace.
        function createFakeUniqueWords(word_array) {
            var fakeUniqueWords = Array(word_array.length)
            var usedWords = {};
            for (var q = 0; q < word_array.length; q++) {
                if (word_array[q] in usedWords) {
                    var fakeWord = word_array[q];
                    for (var k = 0; k < usedWords[word_array[q]]; k++) {
                        // "Unique" words just prefix the word with spaces
                        fakeWord = ' ' + fakeWord;
                    }
                    fakeUniqueWords[q] = fakeWord;
                    usedWords[word_array[q]] += 1;
                } else {
                    fakeUniqueWords[q] = word_array[q];
                    usedWords[word_array[q]] = 1;
                }
            }
            return fakeUniqueWords
        }

        var indices = {{ indices|safe }};
        var pl_ca_heatmap_points = {{ pl_ca_heatmap_points|safe }};
        var pl_wa_heatmap_points = {{ pl_wa_heatmap_points|safe }};
        var drawn = {};

        function preloader() {
            <!-- Draw correct answer thumbnail charts -->
            for (var i = 0; i < indices.length; i++) {
                if (pl_ca_heatmap_points[indices[i]] !== undefined) {
                    for (var idx = 0; idx < pl_ca_heatmap_points[indices[i]].length; idx++) {
                        // Plotly wants this value wrapped in an array
                        var currentPlot = [pl_ca_heatmap_points[indices[i]][idx]];
                        var words = currentPlot[0].y;
                        currentPlot[0].text = words;

                        // Replace duplicate words with "unique" versions
                        currentPlot[0].y = createFakeUniqueWords(words);

                        // Draw thumbnail as a static chart
                        drawChart('ca_thumb', indices[i], idx, currentPlot, {}, true);
                    }
                }
            }

            <!-- Draw wrong answer thumbnail charts -->
            for (var i = 0; i < indices.length; i++) {
                if (pl_wa_heatmap_points[indices[i]] !== undefined) {
                    for (var idx = 0; idx < pl_wa_heatmap_points[indices[i]].length; idx++) {
                        // Plotly wants this value wrapped in an array
                        var currentPlot = [pl_wa_heatmap_points[indices[i]][idx]];
                        var words = currentPlot[0].y;
                        currentPlot[0].text = words;

                        // Replace duplicate words with "unique" versions
                        currentPlot[0].y = createFakeUniqueWords(words);

                        // Draw thumbnail as a static chart
                        drawChart('wa_thumb', indices[i], idx, currentPlot, {}, true);
                    }
                }
            }
        }

        window.onload = preloader;

        function drawChart(div_id_partial, index, answerNum, data, layout, isStatic) {
            Plotly.newPlot(div_id_partial + '_' + index + '_' + answerNum, data, layout, {staticPlot: isStatic});
        }

        <!-- Full charts are drawn when shown to reduce page slowdown on load -->
        $(window).on('show.bs.modal', function (e) {
            var splitId = e.relatedTarget.id.split('_');
            var caOrWa = splitId[0];
            var i = splitId[2];
            var idx = splitId[3];

            if (!(caOrWa + i + idx in drawn)) {
                // Draw modal chart as a fully functional chart
                var layout = {};

                var currentPlot = [];
                if (caOrWa === 'ca') {
                    currentPlot = [pl_ca_heatmap_points[i][idx]];
                } else if (caOrWa === 'wa') {
                    currentPlot = [pl_wa_heatmap_points[i][idx]];
                }

                var words = currentPlot[0].y;
                currentPlot[0].text = words;

                // TODO: Strip fakeUniqueWord values from workaround in hover tooltip
                // Hiding "x" values from tooltip here as they are all 0.
                // This method below did not work for me.
                // https://stackoverflow.com/questions/41128318/is-it-possible-to-change-text-in-hover-tool-tip-for-plotlyjs-bubble-chart
                currentPlot[0].hoverinfo = 'y+z';

                // Increase chart height for long sentences
                if (words.length > 10) {
                    layout.height = 700 + words.length * 10;
                }
                drawChart(caOrWa + '_modal', i, idx, currentPlot, layout, false);
                drawn[caOrWa + i + idx] = 1;
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3"></div>
            <form class="col-6" action="" method="post">
                <div class="form-group row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="row">
                            <h2 id="title" class="col-6 text-right">{{ form.neuron_num.label }}</h2>
                            <div class="col-4 padding-top-2">
                                {{ form.neuron_num(class="form-control form-control-sm custom-select") }}
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        {% if form.random.data %}
                            {% if form.text_indices.data != '' %}
                                <div class="row alert alert-info">Random texts ignores indices.</div>
                            {% endif %}
                            {% for message in form.num_texts.errors %}
                                <div class="row alert alert-danger">{{ message }}</div>
                            {% endfor %}
                        {% else %}
                            {% if form.text_indices.data %}
                                <div class="row alert alert-info">Selecting indices ignores number of QA pairs.</div>
                                {% for message in form.text_indices.errors %}
                                    <div class="row alert alert-danger">{{ message }}</div>
                                {% endfor %}
                            {% else %}
                                {% for message in form.num_texts.errors %}
                                    <div class="row alert alert-danger">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}


                        <div class="row">
                            {{ form.num_texts.label(class="col-sm-6 col-form-label") }}
                            <div class="col-sm-6">
                                {{ form.num_texts(class="form-control", type="number", placeholder="Max: 20") }}
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="row">
                            {{ form.text_indices.label(class="col-sm-6 col-form-label") }}
                            <div class="col-sm-6">
                                {{ form.text_indices(class="form-control", placeholder="Current: " + indices|join(', ')) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="form-group row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="row">
                            {{ form.random.label(class="col-sm-6 col-form-label") }}
                            <div class="col-sm-1 padding-top-8">
                                {{ form.random }}
                            </div>
                            <div class="col-sm-5 text-right">
                                {{ form.submit(class="btn btn-primary") }}
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </form>
            <div class="col-3"></div>
        </div>

        <div class="row">
            <div class="col" id="texts_ca"><h2>Correct answers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col" id="content_ca">

                <br>
                {% for i in indices %}
                    {% for highlighted_correct_answers in indexed_highlighted_correct_answers[i|string] %}
                        QA pair #{{ i }}
                        <br>
                        Question: {{ asked_questions[i|string] }}
                        <br>
                        <br>
                        <ol>
                            {% for highlighted_correct_answer in highlighted_correct_answers %}
                                <li>{{ highlighted_correct_answer|safe }}</li>
                            {% endfor %}
                        </ol>
                    {% endfor %}

                    <br>Heatmaps for QA pair #{{ i }}
                    <div class="row">
                        {% for idx in range(indexed_correct_answers[i|string]|length) %}
                            <div class="col-lg-2 col-md-3 col-xs-4">
                                <div data-toggle="modal" data-target="#modal_ca_{{ i }}_{{ idx }}"
                                     class="pl_chart chart_thumb"
                                     id="ca_thumb_{{ i }}_{{ idx }}">
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="modal_ca_{{ i }}_{{ idx }}" tabindex="-1" role="dialog"
                                     aria-labelledby="modal_ca_{{ i }}_{{ idx }}_title" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modal_ca_{{ i }}_{{ idx }}_title">
                                                    Neuron activation heatmap
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    The warm colors correspond to positive values, and the cold ones to
                                                    negative values.
                                                    <br>
                                                    The more intense the color, the higher the absolute value.
                                                </p>
                                                <br/>
                                                <p class="lead">
                                                    {{ ' '.join(indexed_correct_answers[i|string][idx]) }}
                                                </p>
                                                <div class="pl_chart" id="ca_modal_{{ i }}_{{ idx }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <hr class='w-100'>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col" id="texts_wa"><h2>Wrong answers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col" id="content_wa">

                <br>
                {% for i in indices %}
                    {% for highlighted_wrong_answers in indexed_highlighted_wrong_answers[i|string] %}
                        QA pair #{{ i }}
                        <br>
                        Question: {{ asked_questions[i|string] }}
                        <br>
                        <br>
                        <ol>
                            {% for highlighted_wrong_answer in highlighted_wrong_answers %}
                                <li>{{ highlighted_wrong_answer|safe }}</li>
                            {% endfor %}
                        </ol>
                    {% endfor %}

                    <br>Heatmaps for QA pair #{{ i }}
                    <div class="row">
                        {% for idx in range(indexed_wrong_answers[i|string]|length) %}
                            <div class="col-lg-2 col-md-3 col-xs-4">
                                <div data-toggle="modal" data-target="#modal_wa_{{ i }}_{{ idx }}"
                                     class="pl_chart chart_thumb"
                                     id="wa_thumb_{{ i }}_{{ idx }}">
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="modal_wa_{{ i }}_{{ idx }}" tabindex="-1" role="dialog"
                                     aria-labelledby="modal_wa_{{ i }}_{{ idx }}_title" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modal_wa_{{ i }}_{{ idx }}_title">
                                                    Neuron activation heatmap
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    The warm colors correspond to positive values, and the cold ones to
                                                    negative values.
                                                    <br>
                                                    The more intense the color, the higher the absolute value.
                                                </p>
                                                <br/>
                                                <p class="lead">
                                                    {{ ' '.join(indexed_wrong_answers[i|string][idx]) }}
                                                </p>
                                                <div class="pl_chart" id="wa_modal_{{ i }}_{{ idx }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <hr class='w-100'>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}