{% extends 'base.html' %}

{% block title %}
    Passage
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">LiveQA</h1>
            <p>This is a Neural Question Answering system for passage-level answer selection.</p>
            <p>Given a question and a set of passages, the system selects the passages that contain a correct answer.
                It is particularly important for answering non-factoid questions, where it is expected that the answer
                is
                not a simple fact, but rather a descriptive text.
                The deep learning architecture is based on <a target="_blank"
                                                              href="http://aclweb.org/anthology/P/P16/P16-1044.pdf">(Tan
                    et
                    al., 2016)</a>.
                It is currently trained and tested on <a target="_blank" href="https://github.com/shuzi/insuranceQA">InsuranceQA</a>
                corpus v1.</p>

            <div class="form-group row">
                <div class="col-12">
                    <form method="POST">
                        <div class="input-group">
                            <input type="text" class="form-control" name="question_input"
                                   placeholder="Ask your question!">
                            <span class="input-group-btn" role="button">
                                <button class="btn btn-primary" type="submit" value="Submit">Ask</button>
                            </span>
                        </div>
                    </form>
                </div>

            </div>


            <form method="POST">
                <div class="form-group row">
                    <div class="col-7">
                        {#                    Current only have the main Whoosh dataset#}
                        {#                        <div class="form-check form-check-inline" data-toggle="tooltip" data-placement="top"#}
                        {#                             title="Choose the dataset">#}
                        {#                            <label class="form-check-label">#}
                        {#                                <input class="form-check-input" type="checkbox" name="use-test1" {{ checked[0] }}>#}
                        {#                                Test#}
                        {#                                1#}
                        {#                            </label>#}
                        {#                        </div>#}
                        {#                        <div class="form-check form-check-inline">#}
                        {#                            <label class="form-check-label">#}
                        {#                                <input class="form-check-input" type="checkbox" name="use-test2" {{ checked[1] }}>#}
                        {#                                Test#}
                        {#                                2#}
                        {#                            </label>#}
                        {#                        </div>#}
                        {#                        <div class="form-check form-check-inline">#}
                        {#                            <label class="form-check-label">#}
                        {#                                <input class="form-check-input" type="checkbox" name="use-all" {{ checked[2] }}> All#}
                        {#                            </label>#}
                        {#                        </div>#}
                    </div>
                    <div class="col-1">
                        Attention
                    </div>
                    <div class="col-3">
                        {{ val }}
                        <input name="attention_threshold" type="range" min="0" max="50" step="10"
                               class="slider"
                               list="steplist" style="width: 100%;"/>
                        <datalist id="steplist">
                            <option>0</option>
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>40</option>
                            <option>50</option>
                        </datalist>
                    </div>
                    <div class="col-1">
                        <input type="submit" value="Submit" class="btn btn-secondary btn-sm"
                               data-toggle="tooltip"
                               data-placement="top" title="Change the level of attention"/>
                    </div>

                </div>
            </form>
        </div>

    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h3>Question: {{ question|safe }}</h3>
            </div>
        </div>
        <div class="row">
            {{ error|safe }} {% if question == "" or question == "..." or "empty" in error or texts|length == 0 %}
            <div class="col-12">
                {{ "You have not asked a question yet. Try it out in the text field above. Here are some suggestions:" }}
            </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item"><a
                        href={{ url_for('passage.process_question', received_question="How can I plan my retirement" ) }}>How
                    can I plan my retirement?</a>
                </li>
                <li class="list-group-item"><a
                        href={{ url_for('passage.process_question', received_question="Who owns Valley Forge Life Insurance" ) }}>Who
                    owns Valley Forge Life Insurance?</a>
                </li>
                <li class="list-group-item"><a
                        href={{ url_for('passage.process_question', received_question="When shall you buy Disability Insurance" ) }}>When
                    shall you buy Disability Insurance?</a>
                </li>
                <li class="list-group-item"><a href={{ url_for('passage.process_question',
                received_question="Where can I find cheap car insurance" ) }}>Where can I find cheap car insurance?</a>
                </li>
                <li class="list-group-item"><a
                        href={{ url_for( 'passage.process_question', received_question="Can I get Health Insurance when I am pregnant" ) }}>Can
                    I get Health Insurance when I am pregnant?</a>
                </li>
                <li class="list-group-item"><a
                        href={{ url_for( 'passage.process_question', received_question="Can you cash out annuity" ) }}>Can
                    you cash out annuity?</a>
                </li>
                <li class="list-group-item"><a
                        href={{ url_for( 'passage.process_question', received_question="When shall I purchase long term care insurance" ) }}>When
                    shall I purchase long term care insurance?</a>
                </li>
                <li class="list-group-item"><a
                        href={{ url_for( 'passage.process_question', received_question="How fast can you get renter insurance" ) }}>How
                    fast can you get renter insurance?</a>
                </li>
                <li class="list-group-item"><a
                        href={{ url_for( 'passage.process_question', received_question="How does life annuity work" ) }}>How
                    does life annuity work?</a>
                </li>
            </ul>
            </div>
        {% endif %}
    {% if texts|length > 0 %}
        <div class="container">
        <p>
            Found {{ texts|length }} text(s) in {{ run_time }}.
        </p>
        <p>
            <small><i class="fa fa-star" aria-hidden="true"></i> corresponds to the ground truth answer if your
                question
                is the same as one of those in corpus
            </small>
        </p>
        {% for text in texts %}
            <div class="mt-3">
                <div class="card">
                    <p class="card-header">Text # {{ loop.index0 + 1 }} | Model
                        score: {{ cos_scores[loop.index0] }}
                        {% if
                    loop.index0 == correct_answer_id %}<i class="fa fa-star" aria-hidden="true" data-toggle="tooltip"
                                                          data-placement="top"
                                                          title="corresponds to the ground truth answer if your question is the same as one of those in corpus."></i>{% endif %}
                    </p>
                    <div class="card-block">
                        <p class="card-text">{{ text|safe }}</p>

                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
    </div>
    </div>
{% endblock %}
