{% extends 'base.html' %}

{% block title %}
    Question Answer Pairs
{% endblock %}

{% block script %}
    {#    <link href="{{ url_for('static', filename = 'pair.css') }}" rel="stylesheet">#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="{{ url_for('static', filename = 'plotly-latest.min.js') }}"></script>
    <script type="text/javascript">
        var plotly_tsne = {{plotly_pos | safe}};

        function drawChart(div_id_partial, index, data, layout, isStatic) {
            Plotly.newPlot(div_id_partial + index, data, layout, {staticPlot: isStatic});
        }

        var drawn = {};

        function preloader() {
            <!-- Draw TSNE chart -->
            var layout = {
                height: 2000,
                barmode: 'stack',
                {#showlegend: false,#}
                xaxis: {
                    autorange: true,
                    zeroline: false,
                    showline: false
                },
                yaxis: {
                    autorange: true,
                    zeroline: false,
                    showline: false
                }
            };
            Plotly.newPlot('pl_tsne', plotly_tsne, layout);
        }

        window.onload = preloader;
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <br />
        <br />

        <div class="row">
            <div class="col text-center">
                {{ intro }}
            </div>
        </div>

        <div class="row margin-bottom-15">
            {#            <h3 class="col-12 text-center">{{ question }}</h3>#}
        </div>

        <div class="row">
            <div class="col text-center">
                <div class="row">
                    <figure class="figure w-100">
                        <div class="row" id="pl_tsne"></div>
                        <figcaption class="figure-caption">
                            Plot showing which POS tags each neuron paid the most attention to in each answer given a
                            question.
                            <br/>
                            <br/>
                            Double-click on a label in the legend on the right to only view results for that label. Double-click it again to reset.
                            <br/>
                            <br/>
                            Double-click on the graph to zoom out if you are zoomed in.
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
{% endblock %}