{% extends 'index.html' %}

{% block active_contact %}
    active
{% endblock %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6 text-center">
            <h1 class="display-3">Contact</h1>
            <div class="row">
                <div class="col">
                    <p>
                        Prof. Dr. Günter Neumann
                    </p>
                </div>
                <div class="col">
                    <p>
                        neumann AT dfki DOT de
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        Pomi Park
                    </p>
                </div>
                <div class="col">
                    <p>
                        popa01 AT dfki DOT de
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        Ekaterina Loginova
                    </p>
                </div>
                <div class="col">
                    <p>
                        ekaterina DOT loginova AT ugent DOT be
                    </p>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
        <div class="col">
        </div>
    </div>
{% endblock %}